# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @kevin-wangzefeng @warjiang @mrlihanbo @RainbowMango @jabellard @whitewindmills @carmark @mszacillo @CharlesQQ @GitHubxsy @seanlaii @wawa0210 @zoroyouxi @lfbear @XiShanYongYe-Chang @zhzhuang-zju @zach593 
