# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @kevin-wangzefeng @warjiang @RainbowMango @jabellard @whitewindmills @mszacillo @CharlesQQ @GitHubxsy @seanlaii @wawa0210 @XiShanYongYe-Chang @zhzhuang-zju @zach593 
